/* font-family: 'Fraunces', serif; */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

/* font-family: 'Barlow', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap");

.App {
  .hero {
    background: url("../public/foto/header.jpg") no-repeat center center/cover;
    height: 80vh;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 20%;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      padding-top: 15px;

      .logo {
        padding: 0 30px;
        font-weight: 900;
        font-family: "Barlow", sans-serif;
        letter-spacing: 1px;
      }

      nav ul {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0 20px;
      }

      nav li {
        padding: 0 20px;
      }

      nav li a:hover {
        padding: 7px 13px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 2.5 solid var(--dark-green-color);
        border-radius: 25px;
        text-transform: uppercase;
        font-family: "Fraunces", serif;
      }

      li a {
        font-size: 11px;
      }
    }
  }

  .hero .content {
    display: flex;
    align-items: stretch;
    text-align: center;
    padding: 0 20px;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 85px;
    gap: 30px;
  }

  .content h2 {
    font-family: "Fraunces", serif;
    font-size: xx-large;
    font-weight: 900;
    letter-spacing: 5px;
  }

  .content h1 {
    font-size: 100px;
  }
}

@media (max-width: 375px) {
  // .hamburger{
  //   margin: auto;
  //   background-color: #555;
  //   height: 500px;
  //   color: white;
  //   border-radius: 10px;
  // }
}
