* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Barlow", sans-serif;
  }
  
  /* body{
      font-size: 18px;
  } */
  
:root {
    --blue-color:rgb(62, 190, 255);
    --yellow-color:hsl(51, 100%, 49%);
    --green-color:rgb(145, 211, 198);
    --cyan-color: rgb(253, 114, 97);
    --orange-color: rgb(255, 147, 2);
    --dark-green-color: rgb(55, 121, 108);

  }