:root {
    --blue-color:rgb(62, 190, 255);
    --yellow-color:hsl(51, 100%, 49%);
    --green-color:rgb(145, 211, 198);
    --cyan-color: rgb(253, 114, 97);
    --orange-color: rgb(255, 147, 2);
    --dark-green-color: rgb(55, 121, 108);

  }