* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  font-family: "Barlow", sans-serif;
}

/* body{
      font-size: 18px;
  } */

:root {
  --blue-color: rgb(62, 190, 255);
  --yellow-color: hsl(51, 100%, 49%);
  --green-color: rgb(145, 211, 198);
  --cyan-color: rgb(253, 114, 97);
  --orange-color: rgb(255, 147, 2);
  --dark-green-color: rgb(55, 121, 108);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.2;
  img {
    width: 100%;
  }
}
.grid-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.2;
}
.grid-four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.2;
  img {
    width: 100%;
  }
}

